@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #eeeeee;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #eeeeee;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
}

html {
    scroll-behavior: smooth
}

body {
    /* font-family: "DM Sans", sans-serif; */
    font-family: "Raleway", sans-serif;
    margin: 0;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.6;
}

.bg-hero {
    /* background-image: url("./assets/bg-hero.svg"); */
    background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
}
